{% extends 'base.html' %}

{% block head %}
	<title>Profile</title>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-xs-12">
			{% if messages %}
				{% for message in messages %}
					<div class="" role="alert">
						<center>{{ message }}</center>
					</div>
				{% endfor %}
			{% endif %}
		<h1>Profile</h1>
		<p>Username: {{ user }}</p>
		<p>First Name: {{ user.first_name }}</p>
		<p>Last Name: {{ user.last_name }}</p>
		<p>Email: {{ user.email }}</p>
		<p>Description: {{ user.userprofile.description }}</p>
		<p>City: {{ user.userprofile.city }}</p>
		<p>Phone: {{ user.userprofile.phone }}</p>
		<p>Website: <a href="{{ user.userprofile.website }}">{{ user.userprofile.website }}</a></p>
		{% if user.userprofile.image %}
			<img src="{{ user.userprofile.image.url }}" width="150" height="150>
		{% endif %}		
	</div>
{% endblock %}
