{% extends 'base.html' %}

{% block head %}
	<title>Home</title>
{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-md-8">
			<h2>HomePage</h2>
			<form method="post">
				{% csrf_token %}
				{{ form.post }}
				<br>
				<button type="submit">Submit</button>
			</form>
			<p>{{ text }}</p>
			<ul>
			{% for post in posts %}
				<li>{{ post.post }}</li>
				<p>Posted by {{ post.user.get_full_name }} on {{ post.created }}
					{% if post.created.day < post.updated.day %}
						and updated on {{ post.updated }}
					{% endif %}
				</p>
			{% endfor %}
			</ul>
      		<br>
			<div class="table-responsive" style="white-space: nowrap;">
				<table class="table table-striped">
					<!-- <div style="width: 200px; height: 10px;"> -->
					<thead>
						<tr>
							<th>S No.</th>
							<th>User ID</th>
							<th>Post Description</th>
						</tr>
					</thead>
					<!-- </div> -->
					<!-- <div style="width: 500px; height: 400px;"> -->
					<tbody>
						{% for post in posts %}
						<tr>
							<td>{{ post.id }}</td>
							<td>{{ post.user_id }}</td>
							<td>{{ post.post }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<!-- </div> -->
				</table>
			</div>
			
		</div>
		<div class="col-md-4">
			<h2>Other People</h2>
			<!-- <div class="col-md-2">
				{% for user in users %}
					{% if user not in friends %}
						<img src="{{ user.userprofile.image.url }}" width="30" height="30">
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-6">
				{% for user in users %}
					{% if user not in friends %}
						<a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
							<h4>{{ user.username }}</h4>
						</a>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-4">
				{% for user in users %}
					{% if user not in friends %}
						<a href="{% url 'home:change_friend' operation='add' pk=user.pk %}">
							<button type="button" class="btn btn-success">Add Friend</button>
						</a>
					{% endif %}
				{% endfor %}
			</div> -->
			
			{% for user in users %}
				{% if user not in friends %}
				<a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
					<img src="{{ user.userprofile.image.url }}" width="35" height="35">
					<h3>{{ user.username }}</h3>
				</a>
				<a href="{% url 'home:change_friend' operation='add' pk=user.pk %}">
					<button type="button" class="btn btn-success">Add Friend</button>
				</a>
				<br>
				<br>
				{% endif %}
			{% endfor %}
			</div>
			<h2>Friends</h2>
			{% for friend in friends %}
				<a href="{% url 'accounts:view_profile_with_pk' pk=friend.pk %}">
					<h3>{{ friend.username }}</h3>
				</a>
				<a href="{% url 'home:change_friend' operation='remove' pk=friend.pk %}">
					<button type="button" class="btn btn-danger">Remove Friend</button>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}
